<nav id="navi">

  Imię:<br>
  <input type="text" name="firstname" placeholder="Podaj imie"><br>
  Nazwisko:<br>
  <input type="text" name="lastname" placeholder="Podaj nazwisko"><br>
  E-mail:<br>
  <input type="text" name="email" placeholder="Podaj email"><br>
  <br><input type="radio" name="gender" value="Mężczyzna"> Mężczyzna
  <input type="radio" name="gender" value="Kobieta" checked> Kobieta<br>
  Opis<br>
  <textarea name="opis" cols="35" rows="10"> </textarea><br>
  Wiek:<br>
  <input type="number" name="age"><br>
  <label for="sex">Stan Cywilny</label>
  <select id="country" name="country">
    <option value="Panna/Kawaler">Panna/Kawaler</option>
    <option value="Zamężna/Żonaty">Zamężna/Żonaty</option>
  </select>
  <br><input type="submit" value="Wyślij"/>
  <input type="reset" value="Wyczyść"/><br>

</nav>






