

<div class="card" style="width: 43.6rem;">
  <div class="card-body">
    <app-blog-item-image [image]="image"></app-blog-item-image>
    <h5 class="title">
      <app-blog-item-text [title]="title"></app-blog-item-text></h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      <app-blog-item-text [text]="text"></app-blog-item-text>
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
